@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900@display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: radial-gradient( circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);
}

.portada {
    width: auto;
    height: 150px;
    position: fixed;
    padding-left: 150vh;
}

form {
    width: 450px;
    /*height: -2000px;*/
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

#fecha {
    background: #fa741e 90%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding: 20px;
    transform: translate(-1px);
}

#fecha:hover {
    cursor: pointer;
}

.box {
    position: relative;
    z-index: 1000;
}

.container {
    position: relative;
    color: white;
    width: 400px;
    min-height: 450px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#dycalendar {
    width: 100%;
    padding: 0px;
    transform: translate(0px, -250px);
}

#dycalendar table {
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td {
    background: white;
    color: black;
    border-radius: 4px;
    font-weight: 600;
}

#dycalendar table td {
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#dycalendar table td:hover {
    background: white;
    color: black !important;
}

.dycalendar-month-container .dycalendar-todar-date .dycalendar-month-container .dycalendar-target-date {
    background: white;
    color: black !important;
}

@media (max-width: 480px) {
    form {
        width: 100%;
    }
}